<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="Tommaso,Santillo,Bologna,website,work,empathy,volunteering,">


  <link rel="icon" href="favicon.png" />

  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">  
</head>
